.container
{
	min-width: 1300px;
	max-width: 1300px;
	
	padding: 0;
}

.podzaryadka
{
	font-family: 'Gotham Pro';
	
	padding-bottom: 20px;
	
	background-color: #e7eaed;
}

.header
{
	padding: 8px 0;
	
	background-color: #e7eaed;
	
	&__block
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		padding: 0 15px;
	}
	
	&__logo-link
	{
		width: 316px;
		height: 128px;
	}
	
	&__logo
	{
		width: 100%;
		height: 100%;
		
		object-fit: contain;
	}
	
	&__number-link
	{
		color: #c40009;
		font-weight: 700;
		font-size: 36px;
		line-height: 1;
		
		margin-bottom: 10px;
		
		display: block;
		
		&:hover
		{
			text-decoration: none;
			
			color: #c40009;
			
			opacity: 0.8;
		}
		
		span
		{
			color: #de9906;
			font-weight: normal;
		}
	}
	
	&__contacts-time
	{
		color: #56a679;
		font-size: 18px;
		font-weight: bold;
		text-align: right;
		line-height: 1;
		text-transform: uppercase;
	}
}

.navigation
{
	padding: 0;
	
	position: relative;
	
	padding-bottom: 17px;
	
	background-color: #e7eaed;
	
	&__navbar
	{
		padding: 0 100px;
	}
	
	&__nav
	{
		width: 100%;
		
		justify-content: space-between;
	}
	
	&__nav-item
	{
		display: flex;
		align-items: center;
		justify-content: center;
		
		position: static;
		
		padding: 0;
		
		max-width: 190px;
	}
	
	&__nav-link
	{
		display: flex;
		align-items: center;
		justify-content: center;
		
		padding: 0 !important;
		
		color: #0b6bb1;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		
		&:hover
		{
			opacity: 0.8;
		}
	}
}

.invite
{
	background-color: #e7eaed;
	
	&__container
	{
		background-color: white;
		
		padding-bottom: 100px;
	}
	
	&__image-block
	{
		margin-bottom: 30px;
	}
	
	&__image
	{
		width: 100%;
		height: 100%;
		
		object-fit: contain;
	}
	
	&__text
	{
		color: #000000;
		font-size: 18px;
		font-weight: 300;
		
		padding: 0 180px 30px;
		
		p
		{
			&:last-child
			{
				margin-bottom: 0;
			}
		}
		
		.bold
		{
			font-weight: bold;
		}
	}
}

.service
{
	background-color: #e7eaed;
	
	&__container
	{
		background-color: #e7eaed;
	}
}

.service-item
{
	transform: skew(0, -7.4deg);
	transform-origin: left bottom;
	
	padding-bottom: 30px;
	
	&__row
	{
		display: flex;
		align-items: center;
		
		margin-bottom: 15px;
		
		cursor: pointer;
	}
	
	&__type
	{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		
		padding: 0 15px;
	}
	
	&__icon
	{
		margin-right: 30px;
		
		height: 260px;
		max-height: 260px;
		width: 100%;
		
		object-fit: contain;
	}
	
	&__description
	{
		font-size: 30px;
		font-weight: bold;
		text-transform: uppercase;
		
		max-width: 230px;
		
		padding-bottom: 30px;
	}
	
	&__text-link
	{
		color: #c40009;
		font-weight: 400;
		font-style: italic;
		
		&:hover
		{
			text-decoration: none;
			
			opacity: 0.8;
			color: #c40009;
		}
	}
	
	&__name
	{
		text-align: center;
		font-size: 55px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	&__image
	{
		transform: skew(0, 7.4deg);
		
		margin-top: -48px;
		margin-bottom: -48px;
		
		width: 100%;
	}
	
	&__description-block
	{
		padding: 110px 30px 70px;
		
		transform: skew(0, 7.4deg);
		
		display: none;
	}
	
	&__block
	{
		background-color: white;
		
		border-radius: 10px;
		
		padding: 30px 50px;
	}
	
	&__main-title
	{
		color: #000000;
		font-size: 30px;
		font-weight: bold;
		
		margin-bottom: 45px;
		
		&.red
		{
			color: #c40009;
		}
		
		&.service-item__second-title
		{
			font-weight: 400;
		}
	}
	
	&__text-block
	{
		margin-bottom: 10px;
	}
	
	&__text-title
	{
		color: #000000;
		font-weight: bold;
		font-size: 24px;
		
		margin-bottom: 20px;
	}
	
	&__text-description
	{
		font-weight: 400;
		font-size: 18px;
		
		margin-bottom: 20px;
	}
	
	&__image-block
	{
		margin-bottom: 20px;
	}
}

.poster
{
	background-color: #e7eaed;
	
	&__container
	{
		background-color: #fff48e;
	}
	
	&__block
	{
		transform: skew(0, -7.4deg);
		transform-origin: left bottom;
		
		padding-bottom: 30px;
		
		background-color: #fff48e;
	}
	
	&__title
	{
		color: #ff0000;
		font-size: 48px;
		font-weight: bold;
		text-transform: uppercase;
		
		padding-left: 285px;
		padding-top: 50px;
		
	}
	
	&__image
	{
		padding: 0 83px 105px;
		
		width: 100%;
		height: auto;
	}
}

@import "_fonts";